.a-enter-vr {
  display: none;
}

div {
  text-align: center;
  width: 100%;
  margin-top: 10vh;
}

body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

image {
  max-width: 90%;
  height: auto;
}
